.y-link {
    width: 120px !important;
    height: 32px !important;
    padding: 6px 32px 6px;
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    color: black;
    text-shadow: 1px 1px #D6D6D6;
    border: 1px solid #959595;
    border-top: 1px solid #B4B4B4;
    border-bottom: 1px solid #7B7B7B;
    box-shadow:
            inset 0 1px #E3E3E3,
            inset 1px 0 #CECECE,
            inset -1px 0 #CECECE,
            inset 0 -1px #BDBDBD,
            0 2px #878787,
            0 3px #7B7B7B,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #d1d1d1 0%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#afafaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* IE10+ */
    background: linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
    background-color: #C0C0C0;
}
.y-link::-moz-focus-inner{border:0}
.y-link:hover {
    border-top: 1px solid #A2A2A2;
    box-shadow:
            inset 0 1px #D4D4D4,
            inset 1px 0 #CECECE,
            inset -1px 0 #CECECE,
            inset 0 -1px #CECECE,
            0 2px #878787,
            0 3px #7B7B7B,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #b7b7b7 0%, #c2c2c2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#c2c2c2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* IE10+ */
    background: linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#c2c2c2',GradientType=0 ); /* IE6-9 */
    background-color: #C0C0C0;
}
.y-link:active {
    top: 3px;
    border: 1px solid #919191;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #9F9F9F;
    background: #B3B3B3;
    box-shadow: inset 0 1px 2px #7F7F7F;
}

.red-link {
    color: #DC0000;
}

.green-link {
    color: darkgreen;
}